html{
    background-color: gray
}

body{
    background-color: grey
}


.whitestrokes {
    opacity: 0;
}

.whitecirclesstrokes {
    opacity: 0;
}

.blackstrokes {
    opacity: 0;
}

.blackcirclesstrokes {
    opacity: 0;
}

.bigleaves {
    opacity: 0;
}

.smallleaves {
    opacity: 0;
}

.strokesmallleaves {
    opacity: 0;
}

.goldstroke {
    opacity: 0;
}

.B_littlethingsgradient {
    opacity: 0;
}

.S_littlethingsgradient {
    opacity: 0;
}

.ball3 {
    opacity: 1;
}

.ball2 {
    opacity: 1;
}

.ball1_1 {
    opacity: 0;
}

.ball1_2 {
    opacity: 0;
}

.ball1_3 {
    opacity: 0;
}

.background {
    opacity: 1;

}

.MPBall2 {
    opacity: 0;
}

.MPBall3 {
    opacity: 0;
}

